.DS_Store

# Temp Files
tableau/.~weeklyDataBook__37671.twbr
tableau/.~weeklyBook__3982.twbr
tableau/.~The\ Tiger\ News\ COVID\ Dashboard\ 11112020__43863.twbr
~$clemsonDashboard.xlsx
~$southCarolina.xlsx
~$pickensCountySC.xlsx
~$oconeeCountySC.xlsx
~$andersonCountySC.xlsx
