.DS_Store

# Temp Files
tableau/.~weeklyDataBook__37671.twbr
tableau/.~weeklyBook__3982.twbr
~$clemsonDashboard.xlsx
~$southCarolina.xlsx
~$pickensCountySC.xlsx
~$oconeeCountySC.xlsx
~$andersonCountySC.xlsx
